body {
    background-color: black;
    color: white;
    padding: 50px 10px;
    font-size: 30px;
}

.channels {
    margin-bottom: 60px;
}
.channels li{
    cursor: pointer;
}

.videos {
    display: flex;
    align-items: center;
    gap: 5;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.videos .img-wrapper {
    flex-basis: 40%;
    margin-right: 15px;
}

.videos img {
    width: 100%;
}

.videos .title-wrapper {
    flex-basis: 60%;
}